.fixed {
	position: fixed;
}

.scrollit {
	float: right;
}

.panel-mdo-documentacion > .panel-heading {
	background-image: none;
	background-color: #eaaed6;
	color: #7a1f5c;
}

.panel .panel-mdo-documentacion {
	border-color: #eaaed6;
}

.panel-mdo-aplicacion > .panel-heading {
	background-image: none;
	background-color: #9999ff;
	color: #0000b3;
}

.panel .panel-mdo-aplicacion {
	border-color: #8080ff;
}

.panel-mdo-ampliacion > .panel-heading {
	background-image: none;
	background-color: #ffcc80;
	color: #804d00;
}

.panel .panel-mdo-ampliacion {
	border-color: #ffcc80;
}

textarea {
	resize: none;
}